

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header{
    background-color:white;
    padding:20px 0;
    border-bottom:1px solid #ddd;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:#ff4d7a;
}

.navbar{
    display:flex;
    gap:30px;
}

.navbar a{
    text-decoration:none;
    color:#333;
    font-size:16px;
}

.header-buttons{
    display:flex;
    align-items:center;
    gap:20px;
}

.search{
    font-size:18px;
}

.login{
    text-decoration:none;
    color:#333;
}

.signup-btn{
    background:#ff4d7a;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
}


.hero{
    background: #1d1d3b;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.badge{
    display: inline-block;
    background: #444;
    padding: 8px 18px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.hero h1{
    font-size: 45px;
    margin: 20px 0;
}

.hero span{
    color: #ff4d7a;
}

.hero p{
    max-width: 650px;
    margin: auto;
    margin-bottom: 25px;
}

.hero button{
    margin: 5px;
}

.browsebtn{
    background: #ff4d7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.demobtn{
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.stats{
    width: 100%;
    margin: 1px auto;
    background: #1d1d3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.stat-box{
    text-align: center;
    flex: 1;
}

.stat-box h2{
    color: #ff4d7a;
    font-size: 32px;
    margin-bottom: 10px;
}

.stat-box p{
    color: #666;
    font-size: 16px;
}


.courses{
    padding: 60px 20px;
}

.courses h2{
    text-align: center;
    margin-bottom: 40px;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0 200px
}

.course{
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* padding: 20px; */
    background: white;

    
}

.img{
    background: #064b6e;
    z-index: -1;
    height:50%;
    width: 100%;
    /* border-radius: 10px; */

}

.course h3{
    margin-bottom: 10px;
    padding: 0 20px;
}

.course p{
    margin-bottom: 8px;
    padding: 0 20px;
}
/* .details{
    padding: 20px;
} */


.categories{
    background: #f8f8f8;
    padding: 60px 20px;
    text-align: center;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 30px;
}

.category{
    background: white;
    padding: 20px;
    border-radius: 10px;
}



.teacher{
    text-align: center;
    padding: 70px 20px;
}

.teacher h2{
    margin-bottom: 20px;
}

.teacher p{
    margin-bottom: 20px;
}


footer{
    background: #1d1d3b;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

footer button{
    margin: 20px 0;
}



@media(max-width:768px){

    .header .container{
        flex-direction: column;
    }

    nav{
        margin: 15px 0;
    }

    .stats{
        flex-direction: column;
        gap: 20px;
    }

    .course-container{
        grid-template-columns: 1fr;
    }

    .category-container{
        grid-template-columns: repeat(2,1fr);
    }

    .hero h1{
        font-size: 35px;
    }

}